.pozadina{
    width: 100%;
    padding: 20px;
  }
  .zbirnaStatistikaWrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    margin: 30px 0;
  }
  .zbirnaStatistikaWrapper p{
    flex-basis: 40%;
    text-align: center;
    color: var(--tekst);
    font-size: 20px;
  }
  .zbirnaStatistikaWrapper span{
    font-weight: 600;
  }
  .Ime, .Klub{
    text-align: center;
    color: var(--tekst);
  }
  .tabelaRaspored {
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    min-width: 80%;
    overflow: hidden;
    margin: 10px auto;
  }
  
  .tabelaRaspored thead {
    background-color: var(--tabelaZaglavljeBorder); /* Header background color */
    color: rgb(211, 211, 211); /* Header text color */
  }
  
  .tabelaRaspored tbody tr:nth-child(odd) {
    background-color: var(--tabelaNeparan); /* Odd row color */
  }
  
  .tabelaRaspored tbody tr:nth-child(even) {
    background-color: var(--tabelaParan); /* Even row color */
  }
  
  .tabelaRaspored td {
    border-left: 2px solid var(--tabelaZaglavljeBorder); /* Border between td elements */
    padding: 8px;
    text-align: center;
  }
  .tabelaRaspored tbody tr:hover {
    background-color: var(--tabelaHover);
    cursor: pointer;
  }
  
  .tabelaRaspored td:first-child {
    border-left: none;
  }

  @media only screen and (max-width: 650px){
    .zbirnaStatistikaWrapper p{
        flex-basis: 80%;
    }
  }